################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/MyTools/v16
/MyMVC/obj
/.vs/MyTools/DesignTimeBuild
/Word.OfficeCOM/obj
/.vs/MyTools
/Dotnet.WordCOM/obj/Debug
