################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Framework.ProcessUtil/bin/Debug
/Framework.ProcessUtil/obj/Debug
/Framework.WordCOM/bin/Debug/Framework.WordCOM.pdb
/Framework.WordCOM/bin/Debug/Framework.WordCOM.exe.config
/Framework.WordCOM/bin/Debug/Framework.WordCOM.exe
/Framework.WordCOM/bin/Debug/Framework.ProcessUtil.pdb
/Framework.WordCOM/bin/Debug/Framework.ProcessUtil.exe.config
/Framework.WordCOM/bin/Debug/Framework.ProcessUtil.exe
/Framework.WordCOM/obj/Debug
/Framework.WordCOM/bin/Debug/NewFiles
/packages/ThoughtWorks.QRCode.1.1.0
/Framework.QRCodeUtil/bin/Debug/NewFiles
/Framework.QRCodeUtil/bin/Debug
/Framework.QRCodeUtil/obj/Debug
/.vs/MyTools/v15
/.vs/MyTools/v16
/.vs/MyTools/DesignTimeBuild
/Dotnet.WordCOM/obj/Debug
/Framework.WordCOM/bin/Debug/Framwork.FileUtil.pdb
/Framework.WordCOM/bin/Debug/Framwork.FileUtil.exe.config
/Framework.WordCOM/bin/Debug/Framwork.FileUtil.exe
/Framwork.FileUtil/bin/Debug
/Framwork.FileUtil/obj/Debug
/Framework.WordCOM/bin/Debug
/HttpClientUtil/obj/Debug
/Framework.ZipString/obj/Debug
/Framework.ZipString/bin/Debug
/Framework.MD5Encrypt/obj/Debug
/Framework.HttpClientUtil/obj/Debug
/Framework.FileUtil/obj/Debug
/Framework.MD5Encrypt/bin/Debug
/Framework.FileUtil/bin/Debug
/RegexUtil/bin/Debug/netcoreapp3.1
/RegexUtil/obj
/.vs/MyTools/config
/DotnetCoreFilterDemo/bin/Debug/netcoreapp3.1
/DotnetCoreFilterDemo/obj
/DotnetCoreWebApi3.x/obj
/DotnetCoreWebApi3.x/bin/Debug/netcoreapp3.1
