<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IApplicationModule">
                    <security mode="None" />
                </binding>
                <binding name="WSHttpBinding_IApplication">
                    <security mode="None" />
                </binding>
                <binding name="WSHttpBinding_IModule">
                    <security mode="None" />
                </binding>
                <binding name="WSHttpBinding_IRole">
                    <security mode="None" />
                </binding>
                <binding name="WSHttpBinding_IRolePermission">
                    <security mode="None" />
                </binding>
                <binding name="WSHttpBinding_IPermission">
                    <security mode="None" />
                </binding>
                <binding name="WSHttpBinding_ICompany">
                    <security mode="None" />
                </binding>
                <binding name="WSHttpBinding_IDepartment">
                    <security mode="None" />
                </binding>
                <binding name="WSHttpBinding_IGroup">
                    <security mode="None" />
                </binding>
                <binding name="WSHttpBinding_IRoleDetail">
                    <security mode="None" />
                </binding>
                <binding name="WSHttpBinding_IUserRole">
                    <security mode="None" />
                </binding>
                <binding name="WSHttpBinding_IToken">
                    <security mode="None" />
                </binding>
                <binding name="WSHttpBinding_IProxy">
                    <security mode="None" />
                </binding>
                <binding name="WSHttpBinding_IUser">
                    <security mode="None" />
                </binding>
                <binding name="WSHttpBinding_IAuthorizedLog">
                    <security mode="None" />
                </binding>
                <binding name="WSHttpBinding_IMenu">
                    <security mode="None" />
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8888/ServiceControler/ApplicationModule"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IApplicationModule"
                contract="ServiceReference1.IApplicationModule" name="WSHttpBinding_IApplicationModule" />
            <endpoint address="http://localhost:8888/ServiceControler/Application"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IApplication"
                contract="ServiceReference1.IApplication" name="WSHttpBinding_IApplication" />
            <endpoint address="http://localhost:8888/ServiceControler/Module"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IModule"
                contract="ServiceReference1.IModule" name="WSHttpBinding_IModule" />
            <endpoint address="http://localhost:8888/ServiceControler/Role"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IRole"
                contract="ServiceReference1.IRole" name="WSHttpBinding_IRole" />
            <endpoint address="http://localhost:8888/ServiceControler/RolePermission"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IRolePermission"
                contract="ServiceReference1.IRolePermission" name="WSHttpBinding_IRolePermission" />
            <endpoint address="http://localhost:8888/ServiceControler/Permission"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IPermission"
                contract="ServiceReference1.IPermission" name="WSHttpBinding_IPermission" />
            <endpoint address="http://localhost:8888/ServiceControler/Company"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICompany"
                contract="ServiceReference1.ICompany" name="WSHttpBinding_ICompany" />
            <endpoint address="http://localhost:8888/ServiceControler/Department"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IDepartment"
                contract="ServiceReference1.IDepartment" name="WSHttpBinding_IDepartment" />
            <endpoint address="http://localhost:8888/ServiceControler/Group"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IGroup"
                contract="ServiceReference1.IGroup" name="WSHttpBinding_IGroup" />
            <endpoint address="http://localhost:8888/ServiceControler/RoleDetail"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IRoleDetail"
                contract="ServiceReference1.IRoleDetail" name="WSHttpBinding_IRoleDetail" />
            <endpoint address="http://localhost:8888/ServiceControler/UserRole"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IUserRole"
                contract="ServiceReference1.IUserRole" name="WSHttpBinding_IUserRole" />
            <endpoint address="http://localhost:8888/ServiceControler/Token"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IToken"
                contract="ServiceReference1.IToken" name="WSHttpBinding_IToken" />
            <endpoint address="http://localhost:8888/ServiceControler/Proxy"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IProxy"
                contract="ServiceReference1.IProxy" name="WSHttpBinding_IProxy" />
            <endpoint address="http://localhost:8888/ServiceControler/User"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IUser"
                contract="ServiceReference1.IUser" name="WSHttpBinding_IUser" />
            <endpoint address="http://localhost:8888/ServiceControler/AuthorizedLog"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IAuthorizedLog"
                contract="ServiceReference1.IAuthorizedLog" name="WSHttpBinding_IAuthorizedLog" />
            <endpoint address="http://localhost:8888/ServiceControler/Menu"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IMenu"
                contract="ServiceReference1.IMenu" name="WSHttpBinding_IMenu" />
        </client>
    </system.serviceModel>
</configuration>